.timer-card {
    ion-card-title {
        ion-row {
            ion-col:first-of-type {
                flex: 1 0 0px !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.timer-card-modal {
    .timer-card-modal-footer {
        ion-toolbar {
            padding: 10px;
        }
    }
    .timer-card-modal-item-label {
        cursor: pointer;
    }
}